.footer-container {
    background-color: var(--dark-green);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.footer-left {
    max-width: 25%;
    color: white;
    padding-top: 40px;
}


.footer_center_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.footer_center_title {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}


.footer-right {
    max-width: 25%;
    padding-top: 40px;
    color: white;
    min-width: 300px;

}

.my-contact {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}

.social-links {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;
    max-width: 200px;
}

.social-logo {
    width: 45px;
    height: 45px;
    background-color: var(--light-green);
    border-radius: 50px;
}