.hero-container {
    margin-top: 30px;
    background-color: var(--light-pistacho);
    border-radius: 45px;
    min-height: 350px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title {
    font-size: 40px;
    color: var(--dark-green);
}


.hello-text {
    color: var(--light-green);
    margin-top: 30px;
    font-size: 20px;
}

.my-name {
    color: var(--dark-green);
    font-size: 25px;
    font-weight: bold;
}

.skills {
    margin-top: 60px;
    color: var(--dark-green);
    max-width: 70%;
}

.skills-text {
    text-align: center;
}

.site-navigation {
    margin-top: 30px;
    padding: 10px;
}

.site-navigation__link {
    background-color: orange;
    color: white;
    padding: 10px; margin-right: 10px;
    border-radius: 3px;
}