.portfolio {
    margin-top: 10px;
}

.portfolio-container {
    min-height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-green);
}

.portfolio__title {
    font-size: 60px;
    width: max-content;
    margin: 0 auto 20px;

}

.portfolio-carousel {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.portfolio-carousel-btn {
    border: 1px solid var(--white);
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.portfolio-carousel__window {
    width: 1024px;
    /* 3 карточки по 300px */
    overflow: hidden;
}

.portfolio-carousel__cards {
    display: flex;
    transition: transform 0.4s ease;
}

.portfolio-carousel__card--verstka {
    /* border: 1px solid orange; */
    min-width: 300px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-carousel__card-img--verstka {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.portfolio__card-img--verstka1 {
    background-image: url(../images/Eвклид.png);
}

.portfolio__card-img--verstka2 {
    background-image: url(../images/Отель.png);

}

.portfolio__card-img--verstka3 {
    background-image: url(../images/Blanchard.png);

}

.portfolio__card-img--verstka4 {
    background-image: url(../images/skillbox.png);

}

.portfolio__card-img--verstka5 {
    background-image: url(../images/donates.png);

}


.portfolio-carousel__card--sites {
    background-color: white;
    height: 420px;
    min-width: 300px;
    padding: 30px;
    border-radius: 35px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.portfolio-carousel__card-img--sites {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;

}

.portfolio__card-img--sites1 {
 background-image: url(../images/pfBIS.jpg);
}

.portfolio__card-img--sites2 {
     background-image: url(../images/pfBIS.jpg);

}

.portfolio__card-img--sites3 {
     background-image: url(../images/pfBIS.jpg);

}

.portfolio__card-img--sites4 {
     background-image: url(../images/pfBIS.jpg);

}

.portfolio__card-img--sites5 {
     background-image: url(../images/pfBIS.jpg);

}

/* .portfolio-carousel__card-title {
    margin-top: 30px;
    font-size: 30px;
} */

/* .portfolio-carousel__card-description {
margin-top: 10px;

} */

/* .portfolio__card-link {
    background-color: var(--black);
    color: white;
    margin-top: auto;
    padding:  17px 60px;
} */

.portfolio__more-link {
    /* min-width: 300px; */
    margin-top: 60px;
    border: 1px solid var(--white);
    padding: 17px 85px;
}