.portfolio {
    margin-top: 10px;
}
.portfolio-container {
    min-height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-green);
}

.portfolio__title {
    font-size: 60px;
    width: max-content;
    margin: 0 auto 20px;
    
}

.portfolio-carousel {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.portfolio-carousel-btn {
    border: 1px solid var(--white);
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.carousel-window {
    width: 1200px;               /* 3 карточки по 300px */
    overflow: hidden;
}

.carousel-cards {
    display: flex;
    transition: transform 0.4s ease;
}


.portfolio-carousel__card {
    background-color: white;
    height: 520px;
    min-width: 380px;
    padding: 30px;
    border-radius: 35px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.portfolio-carousel__card-img {
    width: 315px;
    height: 220px;
 border-radius: 25px;

}

.portfolio__card-img--1 {
 background-image: url(../images/pfBIS.jpg);
}

.portfolio__card-img--2 {
     background-image: url(../images/pfBIS.jpg);

}

.portfolio__card-img--3 {
     background-image: url(../images/pfBIS.jpg);

}

.portfolio-carousel__card-title {
    margin-top: 30px;
    font-size: 30px;
}

.portfolio-carousel__card-description {
margin-top: 10px;

}

.portfolio__card-link {
    background-color: var(--black);
    color: white;
    margin-top: auto;
    padding:  17px 60px;
}

.portfolio__more-link {
    /* min-width: 300px; */
    margin-top: 60px;
        border: 1px solid var(--white);
padding:  17px 85px;
}