/* Свойства для всей страницы */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', Arial, sans-serif;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #000;

}


.container {
  max-width: 1300px;

  padding: 15px 30px;
  margin: 0 auto;
}



/* * {
  overflow: hidden;
} */

/* Обнуляю дефолтные значения фокуса */
button:focus,
a:focus {
  outline: none;
  color: none;
}
